/* stylelint-disable declaration-property-unit-disallowed-list */
/* purgecss ignore */
html {
  font-size: 16px;
  @apply text-blue-1;
}

html, body {
  overscroll-behavior: none;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd,
ol, ul,
form, fieldset,
legend,
figure,
table, th, td,
caption,
hr {
  margin: 0;
  padding: 0;
}
