.btn-link {
  @apply bg-yellow px-21 py-14 w-[fit-content] text-dark-0 transition-all duration-300 ease-in;

  &:hover {
    @apply bg-dark-0 text-yellow;
  }
}

.btn {
  @apply relative inline-block;
  @apply font-Grotesk-Text-Medium leading-none tracking-[0.02em] uppercase;
  @apply pt-10 pb-12 px-21 text-14;
  @apply bg-blue-1 text-white-0;
  @apply transition-colors duration-300;
  border: 1px solid transparent;

  &:hover {
    @apply text-blue-1 bg-white-0 border-blue-1;
  }

  @screen md {
    @apply px-18 text-16;
  }

  &.--hover-shadow {
    &::after {
      content: '';
      @apply opacity-0 absolute -z-1 left-0 top-0 w-full h-full;
      @apply transform translate-x-0 translate-y-0;
      @apply transition-all duration-300;
      @apply bg-blue-1;
    }

    &:hover::after {
      @apply opacity-100 translate-x-3 translate-y-3;
    }
  }

  &.--large {
    @apply px-21 py-14;
  }

  &.--bright-blue {
    @apply bg-blue-bright;

    &:hover {
      @apply bg-white-1;
    }
  }

  &.--yellow {
    @apply bg-yellow text-blue-1;
  }
}
