.card-teaser {
  &:hover {
    .card-teaser-hover::after {
      @apply bg-dark-0;
    }

    .category {
      @apply bg-yellow text-dark-0 border-yellow;
    }
  }

  .card-teaser-hover::after,
  &::before {
    @apply transition-all duration-200;
  }

  &::before {
    content: '';
    @apply w-[0] h-[0] border-t-[32px] border-l-[32px] border-t-dark-0 border-l-[transparent] opacity-0;
    @apply hidden lg:block absolute -z-1 pointer-events-none;
    @apply bottom-0 right-[20%] translate-x-[-50%] translate-y-20;
  }

  &:hover::before {
    @apply opacity-100 translate-y-34;
  }
}
