.listing-headline {
  @apply overflow-hidden;

  &_title {
    @apply relative;

    &::after {
      content: '';
      @apply absolute left-0 w-screen h-1 bg-blue-1;
      z-index: -1;
      top: 50%;
      margin-top: -1px;
    }
  }
}
