/* purgecss start ignore */
.wysiwyg {
  h2 {
    @extend .text-style-d4;
  }

  h3 {
    @extend .text-style-d5;
  }

  h4 {
    @extend .text-style-d6;
  }

  h5 {
    @extend .text-style-d6;
    @extend .text-style-alt;
  }

  h6 {
    @extend .text-style-b1;
    @extend .text-style-caps;
  }

  h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote,
  div, figure, picture {
    @apply my-20;

    @screen md {
      @apply my-40;
    }
  }

  &.wysiwyg-no-y *:first-child { @apply mt-0; }
  &.wysiwyg-no-y *:last-child { @apply mb-0; }

  blockquote {
    p {
      @apply text-18 xs:text-20 uppercase leading-none mt-24 p-0 pb-8;
      @apply lg:text-20 xl:text-[1.389vw];
    }
  }

  div, figure, picture {
    width: 100%;
    @apply my-40;
  }

  p, ul li, ol li {
    @extend .text-style-b1;

    @screen md {
      @apply my-40;
    }
  }

  ol, ul {
    @apply p-0;

    ol, ul {
      @apply m-0;
    }
  }

  ul {
    list-style-type: disc;
    @apply p-0 pl-22;
  }

  ol {
    list-style-type: decimal;
    @apply p-0 pl-28;
  }

  blockquote {
    @apply ml-24 pl-24 border-l-4 border-solid;

    @screen md {
      @apply ml-100 pl-24 border-l-8;
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      @apply text-blue-bright;
    }
  }

  .bg-blue-bright & a:hover,
  &.bg-blue-bright a:hover {
    @apply text-blue-1;
  }
}
/* purgecss end ignore */
